* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 45pt;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}

body {
    box-sizing: border-box;
    width: 60%;
    margin: 2rem auto;
}

section{
    background: #777;
    border: 1px solid none;
    border-radius: 10px;
    padding: 20px;
    min-width: 750px;
    box-shadow: 0 0 1em rgb(0 0 0 / .6);
}

div {
    display: grid;
    grid-template-columns: 1fr;
}

input, button {
    width: 98%;
    margin: 0.4rem;
    border-radius: 6px;
}
input{
    min-width:445px;
    background-color: #cccccc;
    padding: 0.7rem;
    border: none;
}

button {
    padding: 0.6rem 0.4rem;
    text-decoration: none;
    border: none;
    display: block;
    cursor: pointer;
    text-align: center;
    background-color: rgb(49, 224, 87);
    color: rgb(255, 255, 255);
}

.delete, #encerrar {    
    font-size: 8pt;
    text-transform: uppercase;
    font-weight: bold;
    width: 45%;
    color: #fff;
}

.delete{
    background-color: rgb(231, 54, 54);
}

#encerrar{
    background-color: rgb(37, 34, 248);
}

table {
    text-align: center;
    background-color: #eee;
    margin-top: .9rem;
    border-collapse: collapse;
    width: 100%;
    border-radius: 6px;
}

th{
    border-bottom: 1px solid #cacaca;
}

th, td {
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#acoes{
    display: flex;
    justify-content:space-between;
}

/* dialog::backdrop{
    background-color: rgb(0 0 0 / .4);
}

dialog{
    max-width: 500px;
    text-align: center;
    margin: auto;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 1em rgb(0 0 0 / .5);
    display: flex;
    flex-wrap: wrap;
}

dialog button{
    margin: 5px;
    width: 45%;
    justify-content: space-between;
    background-color: #ccc;
    color: black;
} */